.decor {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.decor--dots {
  right: -45px;
  top: 50px;
  width: 162px;
  height: 176px;
  opacity: 0.8;
}

.decor--squares {
  right: 72px;
  top: 1104px;
  width: 85px;
  height: 85px;
}

.decor--circles {
  left: 56px;
  top: 687px;
  width: 83px;
  height: 44px;
}

.decor--cursor {
  left: 1500px;
  top: 1159px;
  width: 22px;
  height: 21px;
}
